<div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="row">
            {% if settings.site_settings.FooterSettings.heading %}
            <div class="col-12 mb-4">
                <a href="{{ settings.site_settings.FooterSettings.related_page.url }}" class="navbar-brand m-0">
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">i</span>{{ settings.site_settings.FooterSettings.heading }}</h1>
                </a>
            </div>
            {% endif %}
            <div class="col-12 mb-4">
                {% if settings.site_settings.SocialMediaSettings.twitter %}
                <a class="btn btn-outline-secondary btn-social mr-2" href="{{ settings.site_settings.SocialMediaSettings.twitter }}"><i class="fab fa-twitter"></i></a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.facebook %}
                <a class="btn btn-outline-secondary btn-social mr-2" href="{{ settings.site_settings.SocialMediaSettings.facebook }}"><i class="fab fa-facebook-f"></i></a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.linkedin %}
                <a class="btn btn-outline-secondary btn-social mr-2" href="{{ settings.site_settings.SocialMediaSettings.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.instagram %}
                <a class="btn btn-outline-secondary btn-social" href="{{ settings.site_settings.SocialMediaSettings.instagram }}"><i class="fab fa-instagram"></i></a>
                {% endif %}
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="row">
                    <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                        {% if settings.site_settings.FooterSettings.left_title %}
                        <h5 class="font-weight-bold mb-2">{{ settings.site_settings.FooterSettings.left_title }}</h5>
                        {% endif %}
                        {% if settings.site_settings.FooterSettings.address %}
                        <p class="mb-2">{{ settings.site_settings.FooterSettings.address }}</p>
                        {% endif %}
                        {% if settings.site_settings.FooterSettings.phone %}
                        <p class="mb-0">{{ settings.site_settings.FooterSettings.phone }}</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-6 text-center text-sm-left">
                        {% if settings.site_settings.FooterSettings.right_title %}
                        <h5 class="font-weight-bold mb-2">{{ settings.site_settings.FooterSettings.right_title }}</h5>
                        {% endif %}
                        {% if settings.site_settings.FooterSettings.opening %}
                        <p class="mb-2">{{ settings.site_settings.FooterSettings.opening }}</p>
                        {% endif %}
                        {% if settings.site_settings.FooterSettings.closing %}
                        <p class="mb-0">{{ settings.site_settings.FooterSettings.closing }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if settings.site_settings.FooterSettings.domain_name %}
            <div class="col-12">
                <p class="m-0">&copy; <a href="{{ settings.site_settings.FooterSettings.related_page.url }}">{{ settings.site_settings.FooterSettings.domain_name }}</a>. {{ settings.site_settings.FooterSettings.domain_text }} <a href="{{ settings.site_settings.FooterSettings.designer_url }}">{{ settings.site_settings.FooterSettings.designer_name }}</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
