<div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-12 mb-4">
                <a href="{{ self.heading_page.url }}" class="navbar-brand m-0">
                    <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">i</span>{{ self.heading }}</h1>
                </a>
            </div>
            {% for content in self.footer %}
                <div class="col-12 mb-4">
                    <a class="btn btn-outline-secondary btn-social mr-2" href="{{ content.twitter }}"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-2" href="{{ content.facebook }}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-2" href="{{ content.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-secondary btn-social" href="{{ content.instagram }}"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-12 mt-2 mb-4">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                            <h5 class="font-weight-bold mb-2">{{ content.left_title }}</h5>
                            <p class="mb-2">{{ content.address }}</p>
                            <p class="mb-0">{{ content.phone }}</p>
                        </div>
                        <div class="col-sm-6 text-center text-sm-left">
                            <h5 class="font-weight-bold mb-2">{{ content.right_title }}</h5>
                            <p class="mb-2">{{ content.opening }}</p>
                            <p class="mb-0">{{ content.closing }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="m-0">&copy; <a href="{{ content.domain_page.url }}">{{ content.domain_name }}</a>. {{ content.domain_text }} <a href="{{ content.designer_url }}">{{ content.designer_name }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
