<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
            <a href="{{ self.title_page.url }}" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>{{ self.title }}</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                {% for content in self.menus %}
                <div class="navbar-nav ml-auto py-0">
                    <a href="{{ content.left_menu_page.url }}" class="nav-item nav-link">{{ content.left_menu_text }}</a>
                </div>
                {% endfor %}
                <a href="{{ self.title_page.url }}" class="navbar-brand mx-5 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>{{ self.title }}</h1>
                </a>
                {% for content in self.menus %}
                <div class="navbar-nav mr-auto py-0">
                    <a href="{{ content.right_menu_page.url }}" class="nav-item nav-link">{{ content.right_menu_text }}</a>
                </div>
                {% endfor %}
            </div>
        </nav>
    </div>
</div>