{% extends "blocks/page_header.html" %}
{% load wagtailimages_tags %}
{% block title %}{{ self.title }}{% endblock %}
{% block page_title %}{{ self.title }}{% endblock %}

{% block page %}
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">{{ self.heading }}</h1>
            </div>
        </div>
        {% for content in self.products %}
        {% image content.image original as img %}
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 pb-2">
                <div class="product-item d-flex flex-column align-items-center text-center bg-light rounded py-5 px-3">
                    <div class="bg-primary mt-n5 py-3" style="width: 80px;">
                        <h4 class="font-weight-bold text-white mb-0">{{ content.title }}</h4>
                    </div>
                    <div class="position-relative bg-primary rounded-circle mt-n3 mb-4 p-3" style="width: 150px; height: 150px;">
                        <img class="rounded-circle w-100 h-100" src="{{ img.url }}" style="object-fit: cover;">
                    </div>
                    <h5 class="font-weight-bold mb-4">{{ content.caption }}</h5>
                    <a href="{{ content.button_page.url }}" class="btn btn-sm btn-secondary">{{ content.button_text }}</a>
                </div>
            </div>
            <div class="col-12 text-center">
                <a href="" class="btn btn-primary py-3 px-5">Load More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
