{% load wagtailimages_tags %}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">{{ self.title }}</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel team-carousel">
                    {% for content in self.teams %}
                    {% image content.image original as img %}
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="{{ img.url }}" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">{{ content.name }}</h3>
                            <h6 class="text-uppercase text-muted mb-4">{{ content.designation }}</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="{{ content.twitter }}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="{{ content.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="{{ content.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
